.container
  .weather-side
    .weather-gradient
    .date-container
      h2.date-dayname &Vcy;&tcy;&ocy;&rcy;&ncy;&icy;&kcy;
      span.date-day 18.12.21
      i.location-icon(data-feather='map-pin')
      span.location &Pcy;&acy;&rcy;&icy;&zhcy;
    .weather-container
      i.weather-icon(data-feather='sun')
      h1.weather-temp 29&deg;C
      h3.weather-desc &Scy;&ocy;&lcy;&ncy;&iecy;&chcy;&ncy;&ocy;
  .info-side
    .today-info-container
      .today-info
        .precipitation
          span.title &Ocy;&scy;&acy;&dcy;&kcy;&icy;
          span.value 0 %
          .clear
        .humidity
          span.title &Vcy;&lcy;&acy;&zhcy;&ncy;&ocy;&scy;&tcy;&softcy;
          span.value 34 %
          .clear
        .wind
          span.title &Scy;&kcy;&ocy;&rcy;&ocy;&scy;&tcy;&softcy; &vcy;&iecy;&tcy;&rcy;&acy;
          span.value 0 km/h
          .clear
    .week-container
      ul.week-list
        li.active
          i.day-icon(data-feather='sun')
          span.day-name &Vcy;&tcy;&ocy;&rcy;&ncy;&icy;&kcy;
          span.day-temp 29&deg;C
        li
          i.day-icon(data-feather='cloud')
          span.day-name &Scy;&rcy;&iecy;&dcy;&acy;
          span.day-temp 21&deg;C
        li
          i.day-icon(data-feather='cloud-snow')
          span.day-name &CHcy;&iecy;&tcy;&vcy;&iecy;&rcy;&gcy;
          span.day-temp 08&deg;C
        li
          i.day-icon(data-feather='cloud-rain')
          span.day-name &Pcy;&yacy;&tcy;&ncy;&icy;&tscy;&acy;
          span.day-temp 19&deg;C
        .clear
    .location-container
      button.location-button
        i(data-feather='map-pin')
        span &Icy;&zcy;&mcy;&iecy;&ncy;&icy;&tcy;&softcy; &mcy;&iecy;&scy;&tcy;&ocy;
